location = / {
    return 302 /home.html;
}

location = /home {
    alias /srv/micou-services/micou-homepage/app/home.html;
}

location = /home/ {
    return 302 /home;
}

location = /home.html {
    alias /home/micou_org/home.html;
}

location = /admin {
    alias /srv/micou-services/micou-homepage/app/admin.html;
}

location = /admin/ {
    return 302 /admin;
}

location = /admin.html {
    alias /home/micou_org/admin.html;
}

location ^~ /illustrations/ {
    alias /home/micou_org/illustrations/;
}

location ^~ /home-api/ {
    rewrite ^/home-api/(.*)$ /$1 break;
    proxy_pass http://127.0.0.1:9100;
    include proxy_params_with_auth;
}
